<div class="contact-form">
  <fieldset>
    <legend>Cargar Nuevo Producto</legend>
    <form [formGroup]="myForm" (submit)="submitForm()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Título:</label>
        <input
          formControlName="title"
          type="text"
          id="title"
          name="title"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <input
          formControlName="description"
          type="text"
          id="description"
          name="description"
          required
        />
      </div>
      <div class="form-group">
        <label for="price">Precio:</label>
        <input
          formControlName="price"
          type="number"
          id="price"
          name="price"
          required
        />
      </div>
      <div class="form-group">
        <label for="file">Imagen:</label>
        <input
          type="file"
          name="file"
          id="file"
          (change)="onFileSelected($event)"
          placeholder="Agregue una imagen"
          style="margin: 1rem"
        />
      </div>
      <div class="form-group">
        <label for="code">Código:</label>
        <input
          formControlName="code"
          type="text"
          id="code"
          name="code"
          required
          
        />
      </div>
      <div class="form-group">
        <label for="stock">Stock:</label>
        <input
          formControlName="stock"
          type="number"
          id="stock"
          name="stock"
          required
        />
      </div>
      <div class="form-group">
        <label for="category">Categoría:</label>
        <input
          formControlName="category"
          type="text"
          id="category"
          name="category"
          required
        />
      </div>
      <button type="submit" class="btn-send">Guardar Producto</button>
    </form>
  </fieldset>
</div>


<div class="container">
  <h1>Bienvenido a mi ecommerce.</h1>
  <p>
    Entrega final para el curso de programación Backend, en coderhouse
  </p>
  <div class="productos">
    <div *ngFor="let producto of productos" class="producto">
      <div style="cursor: pointer">
        <img [src]="producto?.thumbnail[0].path" alt="{{ producto?.title }}" />
        <h2>{{ producto?.title }}</h2>
        <p>{{ producto?.description }}</p>
        <p>Precio: ${{ producto?.price }}</p>
        <p>Stock: {{ producto?.stock }}</p>
      </div>
      <hr />
      <div class="button">
        <button
          style="padding: 0.4rem"
          (click)="edit(producto?._id)"
          pButton
          pRipple
          label="Editar"
          
          class="p-button-success"
        ></button>
        <button
          style="padding: 0.4rem;  margin-left: 0.5rem;"
          (click)="delete(producto?._id)"
          pButton
          pRipple
          label="Eliminar"
          class="p-button-danger"
        ></button>
      </div>
    </div>
  </div>
</div>
