.cart-container {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-thumbnail {
  flex-shrink: 0;
  width: 100px; /* Ancho de la imagen en miniatura */
  height: 100px; /* Alto de la imagen en miniatura */
  margin-right: 1rem;
}

.cart-item-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ajusta la imagen al tamaño del contenedor */
}

.cart-item-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.cart-item span {
  color: #830000;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #d32f2f;
}

.cart-summary {
  margin-top: 1rem;
  text-align: center;
}

.cart-summary button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cart-summary button:hover {
  background-color: #388e3c;
}


@media (max-width: 767px) {

  .cart-container{
    margin: 0%;
    padding: 0%;
    border: none;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}
