<div class="cart-container">
    <h1>Tu Carrito de Compras</h1>
    <div class="cart-items">
      <div class="cart-item" *ngFor="let item of cartItems[0]">
        <div class="cart-item-thumbnail">
          <img src="{{item.pid.thumbnail[0].path}}" alt="{{ item.pid.title }}">
        </div>
        <div class="cart-item-details">
          <p><strong>Artículo:</strong> {{ item.pid.title }}</p>
          <p><strong>Cantidad:</strong> {{ item.quantity }}</p>
          <p><strong> Precio:</strong> ${{ item.pid.price }}</p>
          <span (click)="removeFromCart(item.pid._id)">Eliminar</span>
        </div>
      </div>
    </div>
    <div class="cart-summary">
      <h3>Resumen de la Orden</h3>
      <p>Total de Artículos: {{ cartItems[0]?.length }}</p>
      <p>Total: ${{ getTotalPrice() }}</p>
      <button
          style="padding: 0.7rem"
          pButton
          pRipple
          label="Comprar"
          class="p-button-success"
          (click)="buy()"
        ></button>
    </div>
  </div>
  