<div class="cart-container">
    <h1>Tu Carrito de Compras</h1>
    <div class="cart-items">
      <div class="cart-item" *ngFor="let item of cartItems[0]">
        <div class="cart-item-thumbnail">
          <img loading="lazy" [src]="url + item.pid!.thumbnail[0].filename" alt="{{ item.pid.title }}">
        </div>
        <div class="cart-item-details">
          <p><strong>Artículo:</strong> {{ item.pid.title }}</p>
          <p><strong>Cantidad:</strong> {{ item.quantity }}</p>
          <p><strong> Precio:</strong> ${{ item.pid.price }}</p>
          <span (click)="removeFromCart(item.pid._id)">Eliminar</span>
        </div>
      </div>
    </div>
    <div class="cart-summary">
      <h3>Resumen de la Orden</h3>
      <p>Total de Artículos: {{ cartItems[0]?.length }}</p>
      <p>Total: ${{ getTotalPrice() }}</p>
      <button
          *ngIf="!waiting"
          style="padding: 0.7rem"
          pButton
          pRipple
          label="Comprar"
          class="p-button-success"
          (click)="buy()"
        ></button>
        <div *ngIf="waiting" class="card flex justify-content-center">
          <p-progressSpinner styleClass="w-2rem h-2rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
      </div>
    </div>
  </div>
  