<div class="container">
  <h1>Bienvenido a mi ecommerce.</h1>
  <p>
    Entrega final para el curso de programación Backend, en coderhouse
  </p>
  <div class="productos">
    <div *ngFor="let producto of productos | keyvalue" class="producto">
      <div (click)="redireccionarSerie(producto.value._id)" style="cursor: pointer">
        <img [src]="url + producto?.value.thumbnail[0].filename" alt="{{ producto.value.title }}" />
        <h2>{{ producto.value.title }}</h2>
        <p>{{ producto.value.description }}</p>
        <p>Precio: ${{ producto.value.price }}</p>
        <p>Stock: {{ producto.value.stock }}</p>
      </div>
      <hr />
      <div class="button">
        <button
          style="padding: 0.4rem"
          (click)="guardarProducto(producto.value._id, 1)"
          pButton
          pRipple
          label=""
          icon="pi pi-shopping-cart"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </div>
</div>
