<div class="container">
  <h1>Bienvenido a mi ecommerce.</h1>
  <p>
    Entrega final para el curso de programación Backend, en coderhouse
  </p>
  <div class="productos">
    <div *ngFor="let producto of productos" class="producto">
      <div (click)="redireccionarSerie(producto._id)" style="cursor: pointer">
        <img [src]="producto?.thumbnail[0].path" alt="{{ producto.title }}" />
        <h2>{{ producto.title }}</h2>
        <p>{{ producto.description }}</p>
        <p>Precio: ${{ producto.price }}</p>
        <p>Stock: {{ producto.stock }}</p>
      </div>
      <hr />
      <div class="button">
        <button
          style="padding: 0.4rem"
          (click)="guardarProducto(producto._id, 1)"
          pButton
          pRipple
          label=""
          icon="pi pi-shopping-cart"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </div>
</div>
